#container
{
font-family:Arial;
width:100%;
}


#header
{

background-image:url("wall10.jpg");

height:40%;
margin:0px;
width:100%;
border:0px;
color:white;
padding-top:20px;
text-align:center;

}
#head{

text-align:center;

}



#content
{
background:white;
padding:90px;
height:700px;
text-align:center;
font-family:Arial;

width:85.6%;

}

#login
{
text-align:right;
padding-right:20px;
color:white;
}



a
{

text-decoration:none;
color:white;
}




td
{

text-align:left;
padding:10px;
}

table
{
	margin-left:auto;
	margin-right:auto;
	border-collapse:collapse;
	
	
	
	
}
input[type="submit"]
{
	background-color: #4C66A4;
	color:white;
	width:150px;
	padding:10px;
	border-radius:5px;
	box-shadow:0px;
	
}
input[type="reset"]
{
	background-color: #4C66A4;
	color:white;
	width:150px;
	padding:10px;
	border-radius:5px;
	
}